.item {
    -fx-background-radius: 60;
    -fx-background-size: 60 60;
    -fx-background-position: center;
    -fx-pref-heiht: 60;
    -fx-pref-width: 60;
    -fx-background-color: transparent;
}

.item:hover {
    -fx-border-color: #2c90e2;
    -fx-border-width: 3;
    -fx-border-radius: 30;
}

#stone {
    -fx-background-image: url("../images/Rock1.png");
    -fx-rotate: 14.9;
}

#scissors {
    -fx-background-image: url("../images/Scissors1.png");
}

#paper {
    -fx-background-image: url("../images/Paper1.png");
    -fx-rotate: -46.2;
}